<div
  class="map-canvas__world"
  [class.map-canvas__world--animated]="!isInteracting()"
  [style.transform]="worldTransform()"
>
  @for (tile of tiles(); track tile.id) {
    @if (unlockedTileSet().has(tile.id)) {
      <qst-image-slot
        class="map-canvas__background-tile"
        [src]="tile.url"
        [label]="tile.id"
        [style.left.px]="tile.col * tileSize"
        [style.top.px]="tile.row * tileSize"
      />
    } @else {
      <div
        class="map-canvas__background-tile map-canvas__background-tile--fog"
        [style.left.px]="tile.col * tileSize"
        [style.top.px]="tile.row * tileSize"
        aria-hidden="true"
      ></div>
    }
  }

  <svg class="map-canvas__routes" aria-hidden="true">
    @for (route of routePaths(); track route.id) {
      <path
        class="map-canvas__route"
        [class.map-canvas__route--dimmed]="route.dimmed"
        [attr.d]="route.path"
      />
    }
  </svg>

  <ng-content select="qst-map-point" />
</div>

<ng-content />

<div class="map-canvas__zoom-controls">
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="zoomBy(-0.4)"
    aria-label="Karte verkleinern"
  >
    −
  </button>
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="resetView()"
    aria-label="Kartenansicht zurücksetzen"
  >
    ⤾
  </button>
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="zoomBy(0.4)"
    aria-label="Karte vergrößern"
  >
    +
  </button>
</div>
