<div
  class="map-canvas__world"
  [class.map-canvas__world--animated]="!isInteracting()"
  [style.transform]="worldTransform()"
>
  @for (tile of unlockedTiles(); track tile.id) {
    <qst-image-slot
      class="map-canvas__background-tile"
      [src]="tile.url"
      [label]="tile.id"
      [style.left.px]="tile.col * tileSize"
      [style.top.px]="tile.row * tileSize"
    />
  }

  <svg class="map-canvas__routes" aria-hidden="true">
    @for (route of routePaths(); track route.id) {
      <path
        class="map-canvas__route"
        [class.map-canvas__route--dimmed]="route.dimmed"
        [attr.d]="route.path"
      />
    }
  </svg>

  <svg class="map-canvas__fog" aria-hidden="true">
    <defs>
      <filter id="qst-fog-blur-core" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur [attr.stdDeviation]="fogBlurCore" />
      </filter>
      <filter id="qst-fog-blur-halo" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur [attr.stdDeviation]="fogBlurHalo" />
      </filter>
      <mask id="qst-fog-core">
        <rect [attr.x]="fogArea().x" [attr.y]="fogArea().y" [attr.width]="fogArea().width" [attr.height]="fogArea().height" fill="white" />
        <g filter="url(#qst-fog-blur-core)">
          @for (rect of fogTileRects(); track rect.id) {
            <rect [attr.x]="rect.x" [attr.y]="rect.y" [attr.width]="rect.width" [attr.height]="rect.height" fill="black" />
          }
        </g>
      </mask>
      <mask id="qst-fog-halo">
        <rect [attr.x]="fogArea().x" [attr.y]="fogArea().y" [attr.width]="fogArea().width" [attr.height]="fogArea().height" fill="white" />
        <g filter="url(#qst-fog-blur-halo)">
          @for (rect of fogTileRects(); track rect.id) {
            <rect [attr.x]="rect.x" [attr.y]="rect.y" [attr.width]="rect.width" [attr.height]="rect.height" fill="black" />
          }
        </g>
      </mask>
    </defs>
    <rect
      class="map-canvas__fog-rect map-canvas__fog-rect--halo"
      [attr.x]="fogArea().x"
      [attr.y]="fogArea().y"
      [attr.width]="fogArea().width"
      [attr.height]="fogArea().height"
      mask="url(#qst-fog-halo)"
    />
    <rect
      class="map-canvas__fog-rect map-canvas__fog-rect--core"
      [attr.x]="fogArea().x"
      [attr.y]="fogArea().y"
      [attr.width]="fogArea().width"
      [attr.height]="fogArea().height"
      mask="url(#qst-fog-core)"
    />
  </svg>

  <ng-content select="qst-map-point" />
</div>

<ng-content />

<div class="map-canvas__zoom-controls">
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="zoomBy(1 / buttonFactor)"
    aria-label="Karte verkleinern"
  >
    −
  </button>
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="resetView()"
    aria-label="Kartenansicht zurücksetzen"
  >
    ⤾
  </button>
  <button
    type="button"
    class="map-canvas__zoom-button"
    (click)="zoomBy(buttonFactor)"
    aria-label="Karte vergrößern"
  >
    +
  </button>
</div>
